<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购票系统</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script> -->
    <script src="https://cdn.staticfile.net/vue/2.6.13/vue.min.js"></script>
    <!-- <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"></script> -->
     
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<body>
    
    <div id="app" height="100%">
        <template>
            <el-container>
                <el-header></el-header>
                <el-main>
                    <!-- <el-row>
                        <el-col :span="24">
                            
                        </el-col>
                    </el-row> -->
                    <el-row type="flex" justify="center" align="middle">
                        
                            <el-select v-model="theBus" placeholder="请选择公交车" @change="busChange">
                                <el-option
                                  v-for="item in options"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value">
                                </el-option>
                              </el-select>
                        
                    
                            <el-input-number v-model="peopleNum" @change="numChange" :min="1" :max="40" label="描述文字"></el-input-number>
                        

                    
                            <el-button type="primary" @click="dialogVisible = true" :disabled="isButtonDisabled">车票预支付</el-button>
                            <el-dialog title="" :visible.sync="dialogVisible" :before-close="handleClose" width="75%">
                                <!-- <img src="./img/c1.png" class="image" width="100%"> -->
                                <el-image style="width: 100%" :src="gcodeUrl" :fit="fit"></el-image>
                                <el-row type="flex" justify="center" align="middle">
                                    <span>你已成功购买{{ peopleNum }}人的{{ theBus }}公交车票</span>
                                </el-row>
                                <!-- <span slot="footer" class="dialog-footer">
                                    <el-button @click="dialogVisible = false">取 消</el-button>
                                    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                                </span> -->
                            </el-dialog>
                        
                    </el-row>


                </el-main>
                <el-footer>
                    
                </el-footer>
            </el-container>
        </template>
    </div>
    <script>
        var theBus = "";
        var Main = {
            data() {
                return {
                    dialogVisible: false,
                    gcodeUrl:"./img/c1.png",
                    fit: ['fill', 'contain', 'cover', 'none', 'scale-down'],
                    peopleNum : 1,
                    value: '',
                    isButtonDisabled: true ,
                    options: [
                        { value: 'T88', label: 'T88' },
                        { value: '501', label: '501' },
                        { value: 'T89', label: 'T89' },
                        { value: '330', label: '330' },
                        { value: '51', label: '51' }
                    ]

                };
            },
            methods: {
                handleClose(done) {
                    this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
                },
                numChange(value) {
                    pNum = value;
                },
                busChange(value) {
                    theBus = value;
                    this.isButtonDisabled = !value;
                }

            }
        };
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')
        // new Vue({
        //     el: '#app',
        //     render: h => h(Main)
        // });
    </script>
</body>
</html>